.container{
    margin: 20px;
    margin-left: 20%;
    background-color: rgb(188, 250, 250);
    border: 2px solid rgb(188, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}
.container:hover{
    border: 3px solid black;
    margin-bottom: 12px;
}


.button-63{
    border: 0;
  border-radius: 8px;
  box-shadow: rgba(91, 230, 248, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
    padding:8px;
    background-image: linear-gradient(144deg,#bba1ec, #a989e4 50%,#a484e0)
}


/* /* .button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#59cfec, #43c8e9 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(91, 230, 248, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
  /* max-width: 100%;
  min-width: 140px; */
  /* padding: 10px 24px; 
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
} */

/*.button-63:active,
.button-63:hover {
  outline: 0;
} */

/*@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
} */